<!--profile.page.html-->
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/home" text="" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="ion-no-margin">
    <ion-card-content>
      <!-- Avatar -->
      <div class="avatar-section">
        <ion-grid>
          <ion-row>
            <ion-col size="auto">
              <div style="width: 100px">
                <ion-img [src]="user.avatar" class="avatar"></ion-img>
              </div>
            </ion-col>
            <ion-col>
              <ion-button expand="block" (click)="uploadAvatar()">Change Avatar</ion-button>
              <ion-button expand="block" fill="outline" (click)="confirmLogout()">Logout</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <!-- Nombre -->
      <ion-item>
        <ion-label position="stacked">Name</ion-label>
        <ion-input [(ngModel)]="user.name"></ion-input>
      </ion-item>
      <!-- Email (no editable) -->
      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input [value]="user.email" disabled></ion-input>
      </ion-item>
      <!-- Contraseña -->
      <ion-item>
        <ion-label position="stacked">Old Password</ion-label>
        <ion-input type="password" [(ngModel)]="oldPassword"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">New Password</ion-label>
        <ion-input type="password" [(ngModel)]="newPassword"></ion-input>
      </ion-item>
      <ion-button expand="block" (click)="updatePassword()">Update Password</ion-button>

      <!-- Suscripciones -->
      <swiper-container [loop]="true" autoplay [options]="slideOpts">
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
        <swiper-slide>
          <ion-card>
            <ion-card-header>
              <ion-card-title>Free Plan</ion-card-title>
              <ion-card-subtitle>7-day free trial</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <p>then $0 USD/month</p>
              <p>Your path to hormonal balance</p>
              <ul>
                <li>Learn With Our Providers</li>
                <li>Hormonal Health</li>
                <li>Tracking</li>
                <li>Yoga</li>
                <li>Breathwork</li>
                <li>Recipes</li>
                <li>Discover</li>
              </ul>
              <ion-button expand="block" color="primary" (click)="changeSubscription('Free')">
                Subscribe to Free Plan
              </ion-button>
            </ion-card-content>
          </ion-card>
        </swiper-slide>

        <swiper-slide>
          <ion-card>
            <ion-card-header>
              <ion-card-title>Premium Plan</ion-card-title>
              <ion-card-subtitle>7-day free trial</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <p>then $14.99 USD/month</p>
              <p>Enhanced benefits for hormonal balance</p>
              <ul>
                <li>All features from Free Plan</li>
                <li>Advanced Tracking</li>
                <li>Exclusive Recipes</li>
              </ul>
              <ion-button expand="block" color="success" (click)="changeSubscription('Premium')">
                Subscribe to Premium Plan
              </ion-button>
            </ion-card-content>
          </ion-card>
        </swiper-slide>

        <swiper-slide>
          <ion-card>
            <ion-card-header>
              <ion-card-title>Deluxe Plan</ion-card-title>
              <ion-card-subtitle>7-day free trial</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <p>then $29.99 USD/month</p>
              <p>Comprehensive care for hormonal health</p>
              <ul>
                <li>All features from Premium Plan</li>
                <li>Personalized Consultations</li>
                <li>Exclusive Webinars</li>
              </ul>
              <ion-button expand="block" color="tertiary" (click)="changeSubscription('Deluxe')">
                Subscribe to Deluxe Plan
              </ion-button>
            </ion-card-content>
          </ion-card>
        </swiper-slide>
      </swiper-container>

      <!-- Guardar Cambios -->
      <ion-button expand="block" (click)="saveChanges()">Save Changes</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
