ion-content{
    .banner-image{
        max-height: 250px;
        border-radius: 0;
    }
}
ion-card{
    ion-card-header{
        padding: 0px 10px !important;
        h6{
            margin-top: 10px;
            color: #008d8d;
        }
    }
}
