<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login" text="" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>About App/Sobre la App</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" class="signup-content">
  <section class="intro-section">
    <p><b>At Hormona Vida</b>, we believe that optimal health starts with balance especially when it comes to hormones.</p>
    <p>Hormona Vida was created to empower women through personalized healthcare solutions.</p>
    <p><b>En Hormona Vida</b>, creemos que la salud óptima comienza con el  equilibrio, especialmente cuando se trata de hormonas.</p>
    <p>Hormona Vida fue creada para empoderar a las mujeres a través de soluciones de atención médica personalizadas.</p>
    <h2><b>So, what can you do for free?</b></h2>
    <h3><b>¿Entonces, que puedes hacer gratis?</b></h3>
  </section>

  <section class="features-section">
    <ion-card>
      <ion-card-content>
        <div class="feature-container">
          <ion-img src="assets/images/icon-hormona.webp"></ion-img>
          <div class="feature-text">
            <h2>Hormonal Health<br><span>Salud Hormonal</span></h2>
            <a class="read-more" href="#">Read more/Leer más →</a>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  
    <ion-card>
      <ion-card-content>
        <div class="feature-container">
          <ion-img src="assets/images/icon-medicine.webp"></ion-img>
          <div class="feature-text">
            <h2>Symptom Monitoring<br><span>Seguimiento de Sintomas</span></h2>
            <a class="read-more" href="#">Read more/Leer más →</a>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  
    <ion-card>
      <ion-card-content>
        <div class="feature-container">
          <ion-img src="assets/images/icon-therapy.webp"></ion-img>
          <div class="feature-text">
            <h2>Articles and Post<br><span>Articulos y Post</span></h2>
            <a class="read-more" href="#">Read more/Leer más →</a>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  
    <ion-card>
      <ion-card-content>
        <div class="feature-container">
          <ion-img src="assets/images/icon-weight.webp"></ion-img>
          <div class="feature-text">
            <h2>Resources and more<br><span>Recursos y más</span></h2>
            <a class="read-more" href="#">Read more/Leer más →</a>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </section>  

  <section class="premium-section">
    <h2>Getting to Know Hormona Vida</h2>
    <h3>Conociendo Hormona Vida</h3>
    <p>
      We will have premium content available for you. 
      <strong>Get a subscription</strong> to our app and access the following resources.
    </p>
    <p>
      Tenemos un contenido premium disponible para ti. 
      <strong>Obtén una suscripción</strong> a nuestra app y accede a los siguientes recursos:
    </p>
    <ul>
      <li>
        <ion-img src="assets/images/icon-check.png"></ion-img>
        Learn With Our Providers<span>/Aprenda Con Nuestros Médicos</span>
      </li>
      <li>
        <ion-img src="assets/images/icon-check.png"></ion-img>
        Yoga Lessons<span>/Clases de Yoga</span>
      </li>
      <li>
        <ion-img src="assets/images/icon-check.png"></ion-img>
        Breathwork Lessons<span>/Clases de Respiración</span>
      </li>
      <li>
        <ion-img src="assets/images/icon-check.png"></ion-img>
        Recipes<span>/Recetas</span>
      </li>
      <li>
        <ion-img src="assets/images/icon-check.png"></ion-img>
        Discover<span>/Descubre</span>
      </li>
    </ul>
  </section>  
  <div class="space"></div>
  <ion-footer>
    <ion-button routerLink="/signup" expand="full" color="secondary" shape="round">Create My Free Account</ion-button>
  </ion-footer>
</ion-content>
