<!--login.page.html-->
<ion-header class="ion-no-border">
  <ion-toolbar>
    <!--<ion-title>login</ion-title>-->
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img class="preload" src="assets/images/Preload.jpg"></ion-img>
  <ion-card class="ion-no-margin">
    <ion-card-header>
      <ion-card-subtitle>Welcome to / Bienvenido a: Hormona Vida</ion-card-subtitle>
      <ion-card-title>Transform Your Health</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="signin-btns">
        <ion-button routerLink="/loginscreen" size="small" fill="solid" shape="round" class="loginbtn">
          Log In
        </ion-button>
        <ion-button routerLink="/about" size="small" fill="outline" color="dark" shape="round">
          Sign In
        </ion-button>
      </div>
  
      <div class="text-tag">
        <span>Or connect with:</span>
      </div>
  
      <div class="social-btns">
        <ion-button fill="clear" class="facebookbtn ion-no-padding">
          <ion-img src="assets/images/facebook.png"></ion-img>
        </ion-button>
        <ion-button fill="clear" class="googlebtn ion-no-padding">
          <ion-img src="assets/images/google.png"></ion-img>
        </ion-button>
        <ion-button fill="clear" class="applebtn ion-no-padding">
          <ion-img src="assets/images/apple.png"></ion-img>
        </ion-button>
      </div>
  
    </ion-card-content>
  </ion-card>

  
</ion-content>
