ion-card {
    margin: 10px;
    text-align: center;
  }
  ion-card-header{
    padding: 5px;
  }
  ion-card-content{
    padding-bottom: 10px;
  }
  
  ion-searchbar {
    margin: 10px;
  }
  
  ion-segment {
    margin: 10px;
  }